registry=https://registry.npmmirror.com/

@cherry:registry=http://npm.yonghuivip.com/
@yhbase-h5:registry=http://npm.yonghuivip.com/
@yh:registry=http://npm.yonghuivip.com/
sentrycli_cdnurl=https://registry.npmmirror.com/-/binary/sentry-cli
